# SQLite

In [11]:
import sqlite3
connection=sqlite3.connect("company.db")

cursor =connection.cursor()

sql_command="""
CREATE TABLE employee(
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE,
birth_date DATE);"""

#command between """ """ is structured query command
# it is stored as string
#cursor.execute("""DROP TABLE employee;""") #to delete table

cursor.execute(sql_command)

sql_command="""INSERT INTO employee (staff_number,fname,lname,gender,birth_date)
VALUES(NULL,"Frank", "Schiller","m","1955-08-17");"""
cursor.execute(sql_command)

sql_command="""INSERT INTO employee (staff_number,fname,lname,gender,birth_date)
VALUES(NULL,"William", "Shakespeare","m","1961-10-25");"""
cursor.execute(sql_command)

connection.commit()  #saves the data

connection.close()

In [17]:
import sqlite3
connection=sqlite3.connect("company.db")

cursor=connection.cursor()

staff_data=[("William","Shakespeare","m","1961-10-25"),
       ("William","Shakespeare","m","1961-10-25"),
       ("William","Shakespeare","m","1961-10-25"),]

for p in staff_data:
    format_str="""INSERT INTO employee (staff_number,fname,lname,gender,birth_date)
    VALUES(NULL,"{first}", "{last}","{gender}","{birthdate}");"""
    
    sql_command=format_str.format(first=p[0],last=p[1],gender=p[2],birthdate=p[3])
    cursor.execute(sql_command)
    
connection.commit()  #saves the data

connection.close()

#### to see

In [18]:
import sqlite3
connection=sqlite3.connect("company.db")

cursor=connection.cursor()

cursor.execute("SELECT * FROM employee")
print("fetchall:")
result=cursor.fetchall()
for r in result:
    print(r)
cursor.execute("SELECT * FROM employee")
print("\nfectch one:")
res=cursor.fetchone()
print(res)

fetchall:
(1, 'Frank', 'Schiller', 'm', None, '1955-08-17')
(2, 'William', 'Shakespeare', 'm', None, '1961-10-25')
(3, 'William', 'Shakespeare', 'm', None, '1961-10-25')
(4, 'William', 'Shakespeare', 'm', None, '1961-10-25')
(5, 'William', 'Shakespeare', 'm', None, '1961-10-25')

fectch one:
(1, 'Frank', 'Schiller', 'm', None, '1955-08-17')